{% extends "layout.html" %}

{% block body %}

<div class="container" style="text-align: center;">
	<h2 class="title"><b>Steganography Lab</b></h2>
	<h3 class="title">Dead simple web app to perform steganography on JPEG and PNG images</h3>
	<a class="button button-primary" href="https://github.com/aitorperezz/steganography-lab">Check me out on
		Github</a>
</div>

<div class="docs-section" style="text-align: center;">
	<h3 class="docs-header">Select an operation</h3>
	<div class="u-full-width">
		<a class="button button-primary" href="{{ url_for('encode') }}">Encode</a>
	</div>
	<div class="u-full-width">
		<a class="button button-primary" href="{{ url_for('decode') }}">Decode</a>
	</div>
</div>

{% endblock %}