<!DOCTYPE html>
<html>

<head>
	<title>Steganography Lab</title>
	<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />

	{% block scripts %} {% endblock %}
</head>

<body class="terminal">
	<div class="container">
		<div class="terminal-nav">
			<header class="terminal-logo">
				<div class="logo terminal-prompt">
					<a href={{ url_for('index') }} class="no-style">Steganography Lab</a>
				</div>
			</header>
			<nav class="terminal-menu">
				<ul vocab="https://schema.org/" typeof="BreadcrumbList">
					<li>
						<a href={{ url_for('about') }} class="menu-item active"><span>About</span></a>
						<meta property="position">
					</li>
				</ul>
			</nav>
		</div>
	</div>

	{% block body %} {% endblock %}

</body>

</html>